name: WLED Release CI

on:
  push:
    tags:
      - '*'

permissions:
  contents: write

jobs:

  wled_build:
    uses: ./.github/workflows/build.yml

  release:
    name: Create Release
    runs-on: ubuntu-latest
    needs: wled_build
    permissions:
      contents: write
    steps:
    - uses: actions/download-artifact@v4
      with:
        merge-multiple: true
    - name: Create draft release
      uses: softprops/action-gh-release@v1
      with:
        draft: True
        fail_on_unmatched_files: False
        files: |
          *.bin
          *.bin.gz
